@font-face {
  font-family: "Hyperwave";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/integrado-git/SUNBIZ_assets@main/hyperwave_three-webfont.woff2") format("woff2");
}

/* Si Hyperwave se aplica global, TODO se verá en mayúsculas rojas */
.hyperwave {
  font-family: "Hyperwave", sans-serif !important;
  text-transform: uppercase !important;
  outline: 2px solid red !important;
}
