@font-face {
  font-family: "Hyperwave";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/integrado-git/SUNBIZ_assets@57fa138/hyperwave_three-webfont.woff2") format("woff2");
}

.hyperwave {
  font-family: "Hyperwave", sans-serif;
}

@font-face {
  font-family: "HyperwaveTwo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/integrado-git/SUNBIZ_assets@57fa138/hyperwave_two-webfont.woff2") format("woff2");
}

.hyperwave-two {
  font-family: "HyperwaveTwo", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
